<!DOCTYPE html>
<html>

<head>
    <title>BAN QUẢN LÝ KÝ TÚC XÁ - TRƯỜNG ĐẠI HỌC</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body
    style="margin: 0; padding: 0; min-width: 100%; font-family: Arial, sans-serif; font-size: 16px; line-height: 1.5; background-color: #FAFAFA; color: #222222;">
    <div style="max-width: 600px; margin: 0 auto;">
         <div style="max-width: 600px; margin: 0 auto;">
            <div style="padding: 16px; background-color: transparent; overflow: hidden;">
            <!-- Logo -->
            <div style="float: left; max-width: 80px;">
                <img src="https://icc.iuh.edu.vn/web/wp-content/uploads/2024/09/iuh_logo-rut-gon-1024x577.png" 
                    alt="Logo IUH" style="width: 100%;" />
            </div>
            <!-- Title -->
            <div style="float: right; font-size: 18px; font-weight: bold; color: #222222;">
                BAN QUẢN LÝ KÝ TÚC XÁ<br />
                ĐẠI HỌC CÔNG NGHIỆP TP. HCM
            </div>
        </div>
        <div style="padding: 24px; background-color: #ffffff;">
            <p style="margin-top: 0; margin-bottom: 24px;">Xin chào {{name}},</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Chúng tôi rất tiếc phải thông báo rằng đơn đăng ký phòng ký túc xá của bạn không được duyệt.</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Chúng tôi rất tiếc phải thông báo rằng tình trạng phòng trong ký túc xá hiện tại đã hết chỗ và không thể đáp ứng yêu cầu đăng ký của bạn.</p>
            <p style="margin-top: 0; margin-bottom: 24px;">Chúng tôi mong bạn thông cảm và hy vọng có cơ hội phục vụ bạn trong các đợt đăng ký sau.</p>
        </div>
        <div style="background-color: #f6f6f6; padding: 24px;">
            <p style="margin-top: 0; margin-bottom: 24px;">
                Nếu bạn có bất kỳ câu hỏi nào, xin vui lòng liên hệ với chúng tôi qua <a href="https://university-dormitory.com" target="_blank"
                    style="color: #000; text-decoration:none;">website của ký túc xá</a> hoặc gửi email đến <a href="mailto:ktx@university.edu.vn" style="color: #000; text-decoration:none;">ktx@university.edu.vn</a>.
            </p>
        </div>
    </div>
</body>

</html>
